[submodule "faiss-index/lib/json"]
	path = faiss-index/lib/json
	url = https://github.com/nlohmann/json.git
[submodule "faiss-index/lib/faiss"]
	path = faiss-index/lib/faiss
	url = https://github.com/facebookresearch/faiss.git
[submodule "faiss-index/lib/protobuf"]
	path = faiss-index/lib/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "faiss-index/lib/gtest"]
	path = faiss-index/lib/gtest
	url = https://github.com/google/googletest.git
